<ion-header>
  <ion-toolbar>
    <ion-title size="large">Shows <ion-icon name=tv-outline></ion-icon></ion-title>
    <ion-title size="small">Backlog <ion-icon name=library-outline></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shows</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-button slot="end" color="primary" (click)="addAlert()">Add new show</ion-button>
  </ion-item>

  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderBacklogList($event)" disabled="false">
      <ion-item class="show-item" *ngFor="let show of backlogList; let i = index;">
        <ion-label>{{show.name}} <p>Episodes: S{{show.totalSeasons}}E{{show.totalEpisodes}}</p></ion-label>
          <ion-button size="small" color="medium" (click)="editAlert(show.name, show.totalSeasons, shows.totalEpisodes)">Edit</ion-button>
          <ion-button size="small" (click)="moveAlert()">Move</ion-button>
          <ion-button size="small" color="danger" (click)="deleteAlert(show)">Delete</ion-button>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>