<ion-header>
  <ion-toolbar>
    <ion-title>Shows <ion-icon name="tv-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item detail routerLink="/tabs/shows/in-progress">
    <ion-icon slot="start" name="eye-outline"></ion-icon>
    <ion-label>
      In-Progress
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/shows/stand-by">
    <ion-icon slot="start" name="pause-circle-outline"></ion-icon>
    <ion-label>
      Stand-By
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/shows/backlog">
    <ion-icon slot="start" name="library-outline"></ion-icon>
    <ion-label>
      Backlog
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/shows/waiting">
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
    <ion-label>
      Waiting
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/shows/finished">
    <ion-icon slot="start" name="star-outline"></ion-icon>
    <ion-label>
      Finished
    </ion-label>
  </ion-item>

</ion-content>
