<ion-header>
  <ion-toolbar>
    <ion-title>Games <ion-icon name="game-controller-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item detail routerLink="/tabs/games/in-progress">
    <ion-icon slot="start" name="eye-outline"></ion-icon>
    <ion-label>
      In-Progress
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/games/stand-by">
    <ion-icon slot="start" name="pause-circle-outline"></ion-icon>
    <ion-label>
      Stand-By
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/games/backlog">
    <ion-icon slot="start" name="library-outline"></ion-icon>
    <ion-label>
      Backlog
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/games/waiting">
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
    <ion-label>
      Waiting
    </ion-label>
  </ion-item>
  <ion-item detail routerLink="/tabs/games/finished">
    <ion-icon slot="start" name="star-outline"></ion-icon>
    <ion-label>
      Finished
    </ion-label>
  </ion-item>

</ion-content>
